@charset "UTF-8";

body {
    margin: 0px;
}

h1 {
    margin: 15px auto;
    width: calc(100% - 40px);
    text-align: center;
    background-color: rgb(175, 255, 228);
}

figure {
    width: 100%;
    margin: 15px 0px;
}

img#dany{
    width: max(50%, 250px);
    display: block;
    margin: auto;
}

img#logo{
    width: min(50%, 300px);
    display: block;
    margin: auto;
}

@media (max-width: 385px) {
    h1 {
        font-size: 1.7em;
    }
}